<div class="text-center display-4">Welcome back, <%= @user.username%>!
</div>

<p align="center">Skip to content: <a href="#account">Account Management</a> | <a href="#podcasts">Subscribed Podcasts</a> | <a href="#favourite_episodes">Favourite Episodes</a> | <a href="#annotations">Annotations</a></p>
<p>&nbsp;</p>

<a name="account"></a>
<h4>Account Management</h4>
<%= button_to "Delete Account", {action: "destroy", id: @id, style: {display: :inline}}, {method: "delete", data: {confirm: "Are you sure?"}}%>

<p>&nbsp;</p>
<a name="podcasts"></a>

<h4>Your subscribed podcast:</h4>
<%@podcasts.each_slice(3) do |group|%>
<div class="row">
  <% group.each do |p|%>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to p.name, p%></h5>
        <p class="card-text"><%= (p.description.length>100) ? p.description.first(80) + "..." : p.description%></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Categories: <% p.categories.each do |c|%><%=c.name%> |<%end%></small>
      </div>
    </div>
   </div>
   <%end%>
<p>&nbsp;</p>
</div>
<%end%>

<a name="favourite_episodes"><h4>Your favourite episodes:</h4></a>
<%@favourite_episodes.each_slice(3) do |group|%>
<div class="row">
  <% group.each do |fe|%>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to fe.title, fe%></h5>
        <p class="card-text"><%= fe.description%></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">from <%=link_to fe.podcast.name, fe.podcast%></small>
      </div>
    </div>
   </div>
   <%end%>
<p>&nbsp;</p>
</div>
<%end%>

<p>&nbsp;</p>

<a name="annotations"><h4>Your Annotations:</h4></a>
<%@notes.each_slice(3) do |group|%>
<div class="row">
  <% group.each do |n|%>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= n.content%></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">on: <%=link_to n.annotated_episode.title, n.annotated_episode%> from <%=link_to n.annotated_episode.podcast.name,n.annotated_episode.podcast%></small>
      </div>
    </div>
   </div>
   <%end%>
<p>&nbsp;</p>
</div>
<%end%>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
