<header>
  <h1 class="text-center display-4"><%= @podcast.name %></h1>

<p class="text-center">
  <% @podcast.categories.each do |c|%> <%= link_to c.name, "/podcasts?category=#{c.id}" %> | <% end %>
</p>

  <div class="text-center">
      <%= (button_to((@user.podcasts.include?(@podcast) ? "unsubscribe" : "subscribe"), subscription_path)) if @user %>
  </div>
</header>

<section class="w-75 mx-auto">

  <p class="lead">
    <%= @podcast.description %>
  </p>

  <div class="card-columns">
    <% @episodes.each do |e| %>
      <div class="card">
        <% if current_user.favourite_episodes.include?(e) %>
          <img src="https://image.flaticon.com/icons/png/128/148/148836.png" alt="Card image cap" width="25px" height="25px" style="float: right">
        <% else %>
          <img src="https://image.flaticon.com/icons/svg/660/660467.svg" alt="Card image cap" width="25px" height="25px" style="float: right">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to e.title.capitalize, e %></h5>
          <p class="card-text"><%= e.description.first(200) %>...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><% e.keywords.each do |k| %> <%= link_to k.word, k %> <% end %></small>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <h4>subscribers</h4>
      <ul>
        <% @subscribers.each do |s| %>
          <li><%= link_to s.username, s %></li>
        <%end%>
      </ul>
  </div>
</section>
