<h1><%= @podcast.name%></h1>

<h4>Description: </h4>
<p><%= @podcast.description%></p>

<h4>Episodes:</h4>
<p>
<%@episodes.each do |e|%>
  <li><%= link_to e.title.capitalize, e%>: <%= e.description.first(200)%>...<%= link_to "Read more", e%><br>
   (Keywords: <% e.keywords.each do |k|%> <%= k.word%> <%end%>)</li>
<%end%>
</p>

<b>Categories:</b><% @categories.uniq.each do |c|%> <%= link_to c.name, "/podcasts?category=#{c.name}"%> |
<%end%>

<h4>Subscribed by:</h4>
<p>
  <%@subscribers.each do |s|%>
  <li><%=link_to s.username, s%></li>
  <%end%>
</p>
