<h1><%= @podcast.name%></h1>

<h4>Description: </h4>
<p><%= @podcast.description%></p>

<h4>Episodes:</h4>
<p>
<%@podcast.episodes.each do |e|%>
  <li><%= link_to e.title.capitalize, e%>:<br>
    <%= e.description.first(200)%>...<%= link_to "Read more", e%><br>
   (Keywords: <% e.keywords.each do |k|%> <%= k.word%> <%end%>)</li>
<%end%>
</p>

<b>Categories:</b><% @podcast.categories.uniq.each do |c|%> <%= link_to c.name, "/podcasts#{c.name}"%> |
<%end%>

<h4>Subscribed by:</h4>
<p>
  <%@podcast.users.each do |u|%>
  <li><%=link_to u.username, u%></li>
  <%end%>
</p>
