<!DOCTYPE html>
<html>
  <head>
    <title>Cast Away</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h4><i>Cast Away: Lose yourself in the greatness of podcasts</i></h4>
  </head>

  <body>
    <% if @current_user %>
    Currently logged in as: <%=@current_user.username if @current_user %>
      <%= button_to("Log out", {action: "logout", controller: "sessions"},method: "delete") %>
      <% else %>
        <%= link_to "Login", "/login_form"%>
      <% end %>
  <h5><%=link_to "All Podcasts", podcasts_path%></h5>
    <%= yield %>
  </body>
</html>
