<!DOCTYPE html>
<html>
  <head>
    <title>Cast Away</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
      <!-- navbar always visible -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Cast Away</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Lose yourself in the greatness of podcasts</a>
                </li>
            </ul>

            <span class="navbar-text">
              <% if @current_user %>
                <%= link_to @current_user.username, profile_path %>
                <%= image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/guiiipontes/24.jpg" %>
                <%= button_to "Logout", logout_path, method: "delete", controller: "sessions", class: "btn btn-primary my-2 my-sm-0 btn-sm", form: { style: "display: inline" } %>
              <% else %>
                <%= link_to "Login", login_form_path, method: "get", class: "btn btn-primary my-2 my-sm-0" %>
                <%= link_to "Sign up", new_user_path, method: "get", class: "btn btn-primary my-2 my-sm-0" %>
              <% end %>
            </span>
          </div>
      </nav>
    <%= yield %>
  </body>
</html>
